<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/8c1e4495-bebb-4955-bdd2-5cbdbee0c2a9/resourcegroups/webappsample/providers/Microsoft.Web/sites/CarbonFootPrintAppService</ResourceId>
    <ResourceGroup>webappsample</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://carbonfootprintappservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>carbonfootprintappservice.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CarbonFootPrintAppService</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CarbonFootPrintAppService</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="footprinta19dbEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=footprinta19db.database.windows.net;Initial Catalog=footprinta19db;Persist Security Info=True;User ID=TeamA19;Password=Carbon@123;Application Name=EntityFramework" Name="Data Source=footprinta19db.database.windows.net;Initial Catalog=footprinta19db;Persist Security Info=True;User ID=TeamA19;Password=Carbon@123;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CarbonFootPrint.Models.footprinta19dbEntities, CarbonFootPrint" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="footprinta19dbEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.CarbonfootprintModel.csdl|res://*/Models.CarbonfootprintModel.ssdl|res://*/Models.CarbonfootprintModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=footprinta19db.database.windows.net;Initial Catalog=footprinta19db;Persist Security Info=True;User ID=TeamA19;Password=Carbon@123;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>